* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(9, 53, 102, 1) 0%, rgba(19, 146, 151, 1) 100%);
    color: #fff;
    box-sizing: border-box;
}


.main {
    height: 100%;
}

.main-body {
    display: flex;
    height: 50%;
}


nav {
    display: flex;
    padding-right: 50px;
    background-color: #333;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    cursor: pointer;
    padding: 0px 0px;
    margin-left: 30px;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    margin: 3px;
    transition: all 0.5s ease;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.firewall-title {
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


.menu-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    height: 100vh;
    max-height: 92vh;
    width: 400px;
    padding: 20px 30px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.menu_list_toggle {
    transform: translateX(-420px);
    width: 0;
    opacity: 0;
}

.nav-links {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.nav-links a {
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: larger;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    transform: translateX(0%);
}

.nav-links a:hover {
    color: #38b8ff;
    letter-spacing: 5px;
}

.logout_btn {
    position: absolute;
    width: 90px;
    height: 35px;
    right: 20px;
    font-size: large;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    top: 12px;
    transition: all 0.5s ease;
    font-weight: 500;
}

.logout_btn:hover {
    background-color: #0f7d82;
    letter-spacing: 1px;
    color: #fff;
}

.content {
    
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}


.content ul {
    
    margin-top: 50px;
    width: fit-content;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    
}


.content ul li {
    margin: 10px 50px;
    background-color: #fff;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.content ul li a {
    font-size: larger;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    color: #333;
    font-size: 20px;
    transition: all 0.5s ease;
    font-weight: 600;
}

.content ul li a:hover {
    letter-spacing: 5px;
    color: #38b8ff;
}

.content ul li a:hover {
    color: #38b8ff;
    letter-spacing: 5px;
}



.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

