<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/capabilities.css">
    <title>Capabilities Page</title>
</head>

<body>
    <div class="main">
        <nav>
            <div>
                <div class="menu-icon">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
                <div class="hughes-title">
                    <h3>Capabilities</h3>
                </div>
            </div>
            <div class="nav-child2">
                <div class="nav-home-logo"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg></div>
                <button class="logout_btn">Logout</button>
                <div class="theme_button">
                    <div class="theme_button_child"></div>
                </div>
            </div>


        </nav>
        <div class="main-body">
            <!--<div class="menu-list">
                <ul class="nav-links">
                    <a href="#">Firewall</a>
                    <a href="#">Packet Inspection</a>
                    <a href="#">Routing</a>
                    <a href="#">Network Management</a>
        
                </ul>
            </div>-->
            <div class="content">
                <h4>View Capabilities</h4>
                <div class="table">
                    <div><p class="table_header">Table</p></div>
                    <div><p class="table_header">IPv4</p></div>
                    <div><p class="table_header">IPv6</p></div>
                    <div><p class="table_header">Targets</p></div>
                    <div><p class="table_header">IPv4</p></div>
                    <div><p class="table_header">IPv6</p></div>
                    <div><p class="table_header">Matches</p></div>
                    <div><p class="table_header">IPv4</p></div>
                    <div><p class="table_header">IPv6</p></div>
                    <div><p>filter</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>REJECT</p></div>
                    <div><P>Yes</P></div>
                    <div><p>Yes</p></div>
                    <div><p>states</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>mangle</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>SNAT</p></div>
                    <div><P>No</P></div>
                    <div><p>N/A</p></div>
                    <div><P>mac</P></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>nat</p></div>
                    <div><p>No</p></div>
                    <div><p>N/A</p></div>
                    <div><p>MASQUERADE</p></div>
                    <div><P>No</P></div>
                    <div><P>N/A</P></div>
                    <div><P>mark</P></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>raw</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>DNAT</p></div>
                    <div><P>No</P></div>
                    <div><p>N/A</p></div>
                    <div><p>limit</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Connection tracking</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>REDIRECT</p></div>
                    <div><p>No</p></div>
                    <div><p>N/A</p></div>
                    <div><p>helper</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>MARK</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>length</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>CONNMARK</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>connmark</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>NFQUEUE</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>rpfilter</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p>conntrack</p></div>
                    <div><p>Yes</p></div>
                    <div><p>No</p></div>
                    <div><p>CLASSIFY</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p>conntrack</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>TCPMSS</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>NAT random</p></div>
                    <div><p>No</p></div>
                    <div><p>N/A</p></div>
                    <div><p>NFLOG</p></div>
                    <div><p>Yes</p></div>
                    <div><p>Yes</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p>CT</p></div>
                    <div><p>No</p></div>
                    <div><p>No</p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                    <div><p></p></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/capabilites.js"></script>
</body>

</html>