<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/plugins.css">
    <title>SNMP Configuration</title>
</head>



<body>


    <div class="main">
        <nav>
            <div>
                <div class="menu-icon">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
                <div class="hughes-title">
                    <h3>SNMP Configuration</h3>
                </div>
            </div>
            <div class="nav-child2">
                <div class="nav-home-logo"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg></div>
                <button class="logout_btn">Logout</button>
                <div class="theme_button">
                    <div class="theme_button_child"></div>
                </div>
            </div>


        </nav>



        <div class="main-body">

            </div>
            <div class="content">

                <div class="table">



                    <!-- <h1>SNMP Configuration</h1> -->
                    <form method="post" id="snmp_form">
                        {% csrf_token %}
                        <h2>General Settings</h2>
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location" required><br><br>

                        <label for="contact">Contact:</label>
                        <input type="text" id="contact" name="contact" required><br><br>
                         
                        <label for="enable_snmp">Enable SNMP</label>
                        <input type="checkbox" id="enable_snmp" name="enable_snmp"><br><br>
                        <!-- <label for="enable_snmp">Enable SNMP</label><br><br> -->
                    </form>


                    <form method="post" id="snmp_form">
                        <h2>SNMP Settings</h2>
                        <label for="get_community">Get Community:</label>
                        <input type="text" id="get_community" name="get_community" required><br><br>

                        <label for="get_host_lan">Get Host/LAN:</label>
                        <input type="text" id="get_host_lan" name="get_host_lan" required><br><br>

                        <label for="set_community">Set Community:</label>
                        <input type="text" id="set_community" name="set_community" required><br><br>

                        <label for="set_host_lan">Set Host/LAN:</label>
                        <input type="text" id="set_host_lan" name="set_host_lan" required><br><br>

                        <label for="trap_receiver_ip">Trap Receiver IP:</label>
                        <input type="text" id="trap_receiver_ip" name="trap_receiver_ip" required><br><br>
                    </form>
                  
                    
                    <form method="post" id="snmp_form">
                        <h1>SNMP v3 Configuration</h1>

                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value="admin_user" required><br><br>

                        <label for="security_mode">Security Mode:</label>
                        <select id="security_mode" name="security_mode">
                            <option value="AuthPriv">AuthPriv</option>
                            <option value="AuthNoPriv">AuthNoPriv</option>
                            <option value="NoAuthNoPriv">NoAuthNoPriv</option>
                        </select><br><br>

                        <label for="authentication">Authentication:</label>
                        <select id="authentication" name="authentication">
                            <option value="MD5">MD5</option>
                            <option value="SHA">SHA</option>
                            <!-- Add other authentication options if necessary -->
                        </select><br><br>

                        <label for="authentication_password">Authentication Password:</label>
                        <input type="password" id="authentication_password" name="authentication_password"
                            required><br><br>

                        <label for="encryption">Encryption:</label>
                        <select id="encryption" name="encryption">
                            <option value="DES">DES</option>
                            <option value="AES">AES</option>
                            <!-- Add other encryption options if necessary -->
                        </select><br><br>

                        <label for="encryption_password">Encryption Password:</label>
                        <input type="password" id="encryption_password" name="encryption_password" required><br><br>



                        <button type="submit">Submit</button>
                    </form>


                </div>
            </div>
        </div>

        <script src="/static/js/plugins.js"></script>
</body>

</html>