<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Config</title>
</head>

<body>
    <div class="main">
        <nav>
            <div>
                <div class="menu-icon">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                </div>
                <div class="hughes-title">
                    <h3>Config</h3>
                </div>
            </div>
            <div class="nav-child2">
                <div class="nav-home-logo"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M21.4498 10.275L11.9998 3.1875L2.5498 10.275L2.9998 11.625H3.7498V20.25H20.2498V11.625H20.9998L21.4498 10.275ZM5.2498 18.75V10.125L11.9998 5.0625L18.7498 10.125V18.75H14.9999V14.3333L14.2499 13.5833H9.74988L8.99988 14.3333V18.75H5.2498ZM10.4999 18.75H13.4999V15.0833H10.4999V18.75Z"
                                fill="#ffffff"></path>
                        </g>
                    </svg></div>
                <button class="logout_btn">Logout</button>
                <div class="theme_button"><div class="theme_button_child"></div></div>
            </div>


        </nav>
        <div class="main-body">
            <div class="menu-list">
                <ul class="nav-links">
                    <a href="{% url 'connections' %}">Connections</a> <br>
                    <a href="{% url 'interface2' %}">Interfaces</a> <br>
                    <a href="{% url 'system_protection' %}">System Protection </a> <br>
                    <a href="{% url 'conntrack' %}">Conntrack</a> <br>
                    <a href="{% url 'logging' %}">Logging</a> <br>
                    <a href="{% url 'modules' %}">Modules</a> <br>
                    <a href="{% url 'plugins' %}">Plugins</a> <br>
                    <a href="{% url 'capabilities' %}">Capabalities</a>

                </ul>
            </div>
            <div class="content">

            </div>
        </div>
    </div>
    <script src="/static/js/common.js"></script>
</body>

</html>
<!--
<!DOCTYPE html>
<html>
<head>
    <title>Update Interval</title>
</head>
<body>
     <h2>config</h2>
    <a href="{% url 'capabilities' %}">Connections</a> <br>
    <a href="{% url 'capabilities' %}">Interfaces</a> <br>
    <a href="{% url 'capabilities' %}">System Protection </a> <br>
    <a href="{% url 'conntrack' %}">Conntrack</a> <br>
    <a href="{% url 'logging' %}">Logging</a> <br>
    <a href="{% url 'modules' %}">Modules</a> <br>
    <a href="{% url 'plugins' %}">Plugins</a> <br>
    <a href="{% url 'capabilities' %}">Capabalities</a>
</body>
</html>
-->
